/Cargo.lock
/analysis/
/build/
/prebuilds/
/target/
/tests/.repos/
/third_party/
/.snapshots/
/**/.snapshots/

**/bin/
**/obj/
**/target/
**/__pycache__/

*.a
*.backup
*.dll
*.dylib
*.log
*.node
*.so
*.swp
*.swo
*~

.DS_Store
.idea/
.vscode/
